body {
    background-color: #313338;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    margin: 20px;
    color: #f2f3f4;
}

p b {
    color: #f0c808;
}

p i {
    color: grey;
}

body > * {
    margin: auto;
    align-items: center;
    width: 80%;
    border-radius: 10px;
    border: 3px solid #525355;
    background-color: #393d47;
    transition: ease 150ms;
    margin: 50px;
}

body > *:hover {
    border-color: #24c5c4;
    transition: ease 150ms;
}

input[type=text] {
    background-color: #393d47;
    border: 3px solid #525355;
    color: #f2f3f4;
    padding: 5px;
    border-radius: 10px;
    transition: ease 150ms;
    height: 20px;
}

input[type=text]:hover {
    border: 3px solid #24c5c4;
    transition: ease 150ms;
}

#newMessageString {
    width: 500px;
}

input[type=submit] {
    height: 30px;
    width: 60px;
    background-color: #1da1a0;
    border: 3px solid #1da1a0;
    border-radius: 10px;
    color: #f2f3f4;
    transition: ease 150ms;
}

input[type=submit]:hover {
    background-color: #24c5c4;
    border: 3px solid #24c5c4;
}

input[type=submit]:active {
    background-color: #f2f3f4;
    border: 3px solid #f2f3f4;
}

#chatArea {
    height: 600px;
    overflow:auto;
}

#status {
    height: 30px;
    vertical-align: middle;
    color: #f2f3f4;
}
